.wrapper{
 background-color: #e6e6eb;
 display:grid;
 grid-template-columns: 12% 25% 62%;
 grid-column-gap:10px;
 height:100vh

}

.sidebar{
  background-color: #f0f0f5;
}

.project{
  background-color: pink
}

.chat{
  background-color: lightgreen
}

.wrappersidebar{
  display:grid;
  text-align:center
}

.nestedchat{
  display:grid;

  grid-template-rows:20vh 60vh 10vh;
}
.chatarea{
  overflow:auto
}
